.bg_body_black {
    background-color: #21212A;
}

.bg_body_orange {
    background-color: #FF5733;
}

.color_orange {
    color: #FF5733;
}

.bg_body_black_light {
    background-color: #1B2631;
}

.text-bg-light{
    background-color: black;
}

